* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0px;
  font-size: 0;
  font-family: 'Roboto', sans-serif;
}

#calculator {
  background: black;
}

#screen {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: white;
}

button {
  border-radius: 50%;
}

button:focus {
  outline: none;
  box-shadow: none;
}

button:active {
  background: rgb(230, 230, 230);
}

#zero {
  border-radius: 25%/50%;
}

.lightgray {
  background: rgb(172, 172, 172);
}

.gray {
  color: white;
  background: rgb(99, 98, 98);
}

 .orange {
   color: white;
   background: orange;
 }

 @media screen and (min-width: 500px) {
   #calculator {
     position: relative;
     left: calc(50% - 150px);
     top: 30px;
   }
 }
