* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0px;
  font-size: 0;
}

.calculator {
  width: 216px;
  background: black;
  border-radius: 5px;
  margin-left: calc(50% - 108px);
  margin-top: 10%;
}

#screen {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 50px;
  color: white;
  height: 75px;
  padding: 4px;
  overflow: hidden;
}

button {
  font-size: 24px;
  width: 50px;
  height: 50px;
  margin: 2px;
  border-radius: 25px;
}

button:focus {
  outline: none;
  box-shadow: none;
}

button:active {
  background: rgb(230, 230, 230);
}

#zero {
  width: 104px;
}

.lightgray {
  background: rgb(172, 172, 172);
}

.gray {
  color: white;
  background: rgb(99, 98, 98);
}

 .orange {
   color: white;
   background: orange;
 }
